# 提示:如果你想自动安装对等依赖，在项目根目录下的.npmrc文件中添加"auto-install-peers=true"。
# 提示:如果你不希望pnpm在对等依赖问题上失败，在项目根目录下的.npmrc文件中添加"strict-peer-dependencies=false"。
# auto-install-peers=true
strict-peer-dependencies=false
registry=https://registry.npmmirror.com
public-hoist-pattern[]=@vue*